{% extends 'base.html' %}
{% block content %}
<br>
<style>
  .rating {
    position:relative;
    transform: translate(-50%, -50%);
    transform: rotateY(180deg);
    display: flex;
  }

  .rating input {
    display: none;
  }

  .rating label {
    display: block;
    cursor: pointer;
    width: 25px;
  }

  .rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 25px;
    color:gray;
  }

  .rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 25px;
    color:gold;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  }

  .rating label:hover:after,
  .rating label:hover~label:after,
  .rating input:checked~label:after {
    opacity: 1;
  }
</style>
<div id="bookdiv" class="container">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top" src="{{ book.book_cover }}" alt="" style="width:200px; margin-bottom: 50px;">

      {% if request.user.is_authenticated %}
      <div class="row" style="padding:4px;">
        <p id="book_id" book_id="{{book.id}}" style="display:none">
          <h4><i>Rate:</i></h4>
          <br>
          <div class="rating" style="align-items: center;">
            <input type="radio" name="star" id="star1" class="stars"><label for="star1"></label>
            <input type="radio" name="star" id="star2" class="stars"><label for="star2"></label>
            <input type="radio" name="star" id="star3" class="stars"><label for="star3"></label>
            <input type="radio" name="star" id="star4" class="stars"><label for="star4"></label>
            <input type="radio" name="star" id="star5" class="stars"><label for="star5"></label>
          </div>
        </p>
      </div>
      <div class="row">
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add book to shelf
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for shelf in shelves %}
            <a class=dropdown-item href="{% url 'addBookToShelf' sid=shelf.id bid=book.id %}"> {{ shelf.name }}</a>
            {% endfor %}
          </div>
        </div>
        <br>
        <br>

        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add book to Group shelf
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for shelf in groupshelves %}
            <a class=dropdown-item href="{% url 'addBookToGroupShelf' sid=shelf.id bid=book.id %}"> {{ shelf.group }} -
              {{shelf.name}} </a>
            {% endfor %}

          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="col-8">


      <h1>{{  book.book_title }}</h1>

      <h5>By
        <i>
          {{ book.book_author }}
        </i>
      </h5>
      <div class="row">
        <span class="col-6">Avg Rating: {{book.book_avg_rating}}</span>
        <span class="col-6"> {{book.book_num_of_ratings}} ratings </span>
      </div>
      <br>

      <div style="min-height: 120px; padding:5px;">
        <i>
          {% if book.book_description %}
          {{ book.book_description }}
          {% else %}
          No Description Available
          {% endif %}
        </i>
      </div>
      <div class="text-muted">
        Published at {{book.book_publisher}} on {{ book.published_at }}
      </div>
    </div>
    <div class="col-1" style="align-content: right;">
      <br>
      <br>
      <br>
      <br>

      {% if categories %}
      <h5>Genres</h5>
      <div>{{ categories }} </div>
      {% endif %}

    </div>
    <br>


    <br>

    </ div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script>


  var stars = document.getElementsByClassName('stars');
  var book_id = document.getElementById("book_id").getAttribute("book_id");

  stars[0].addEventListener('click', function () { //because of rotating 180 so 5 stars means id 0
    var stars = 5
    console.log("no stars= " + stars)
    var bookID = book_id
    console.log("book id= " + bookID)
    $.ajax({
      url: '{% url "rateList" %}',
      data: {
        'stars': stars,
        'bookID': bookID
      },
      dataType: 'json',
      success: function (data) {
        if (data.rateStatus == 1) {
          alert("Thank you for rating '" + data.bookTitle + "'\nYour rate saved.");
        }
        else if (data.rateStatus == 0) {
          alert("You already rated this book '" + data.bookTitle + "'\nWe updated your rate.");
        }

      }
    });
  });

  stars[1].addEventListener('click', function () { //because of rotating 180 so 4 stars means id 1
    var stars = 4
    console.log("no stars= " + stars)
    var bookID = book_id
    console.log("book id= " + bookID)
    $.ajax({
      url: '{% url "rateList" %}',
      data: {
        'stars': stars,
        'bookID': bookID
      },
      dataType: 'json',
      success: function (data) {
        if (data.rateStatus == 1) {
          alert("Thank you for rating '" + data.bookTitle + "'\nYour rate saved.");
        }
        else if (data.rateStatus == 0) {
          alert("You already rated this book '" + data.bookTitle + "'\nWe updated your rate.");
        }

      }
    });
  });

  stars[2].addEventListener('click', function () { //because of rotating 180 so 3 stars means id 2
    var stars = 3
    console.log("no stars= " + stars)
    var bookID = book_id
    console.log("book id= " + bookID)
    $.ajax({
      url: '{% url "rateList" %}',
      data: {
        'stars': stars,
        'bookID': bookID
      },
      dataType: 'json',
      success: function (data) {
        if (data.rateStatus == 1) {
          alert("Thank you for rating '" + data.bookTitle + "'\nYour rate saved.");
        }
        else if (data.rateStatus == 0) {
          alert("You already rated this book '" + data.bookTitle + "'\nWe updated your rate.");
        }

      }
    });
  });

  stars[3].addEventListener('click', function () { //because of rotating 180 so 2 stars means id 3
    var stars = 2
    console.log("no stars= " + stars)
    var bookID = book_id
    console.log("book id= " + bookID)
    $.ajax({
      url: '{% url "rateList" %}',
      data: {
        'stars': stars,
        'bookID': bookID
      },
      dataType: 'json',
      success: function (data) {
        if (data.rateStatus == 1) {
          alert("Thank you for rating '" + data.bookTitle + "'\nYour rate saved.");
        }
        else if (data.rateStatus == 0) {
          alert("You already rated this book '" + data.bookTitle + "'\nWe updated your rate.");
        }

      }
    });
  });

  stars[4].addEventListener('click', function () { //because of rotating 180 so 1 stars means id 4
    var stars = 1
    console.log("no stars= " + stars)
    var bookID = book_id
    console.log("book id= " + bookID)
    $.ajax({
      url: '{% url "rateList" %}',
      data: {
        'stars': stars,
        'bookID': bookID
      },
      dataType: 'json',
      success: function (data) {
        if (data.rateStatus == 1) {
          alert("Thank you for rating '" + data.bookTitle + "'\nYour rate saved.");
        }
        else if (data.rateStatus == 0) {
          alert("You already rated this book '" + data.bookTitle + "'\nWe updated your rate.");
        }

      }
    });
  });
</script>

{% endblock %}