{% extends "base.html" %}
{% block content %}
<div class="container">

    {% for key,value in finalBooksDict.items %}
    {% if value %}
        {% with genre=key %}

        <h2>
            {{genre.name}}
        </h2>

        {% endwith %}
    <div class="row" style="padding:10px;text-align:center;">
        {% for book in value %}
        <div class="card" style="width: 200px;padding:2px;margin:10px;">
            <a href="/books/{{ book.id }}/">
                <img class="card-img-top" src="{{ book.book_cover }}" alt="" style="width:100%;"><br>
            </a>
            <div class="card-body" style="text-align: center;margin:0 auto;">
                <a href="/books/{{ book.id }}/">
                    <h6 class="card-title text-dark">
                        {{ book.book_title }}
                    </h6>
                </a>
                <h7><i>{{book.book_author}}</i> </h7>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}


    {% endfor %}
</div>
{% endblock %}