{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>{{ request.user }}'s Bookshelves</h1>
            <br>
            <div class="row justify-content-center">
                <form action='/user/createShelf/' method="post" class="form-inline">
                    {% for field in userForm %}
                    {% csrf_token %}
                    <div class="input-group">

                        <p style="margin-right:10px;"> <b>
                                {{ field.label_tag}}</p>
                        </b>
                        <p>{{field}}</p>

                        {% endfor %}
                        <div style="margin-left: 5px;">
                            <button type="submit" class="btn btn-outline-info btn-sm"><i class="fa fa-plus-square">
                                    Add</i></button>
                        </div>
                    </div>
                    <div style="white-space: nowrap;">{{ form.name.errors }}</div>
                </form>
            </div>
            <br>
            {% for shelf in shelves %}
            <div class="card text-center border-dark">
                <div class="card-body">
                    <div class="row">
                        <h1 class="col-10 card-title">{{shelf.name}}</h1>
                        <h3 class="col-2 card-text">{{shelf.book.count}}</h3>
                    </div>
                </div>
                    <div class="card-footer">
                        <a href="/user/{{shelf.id}}/shelf/" class="btn btn-outline-info">View Shelf</a>
                        <a href="/user/removeShelf/{{shelf.id}}" class="btn btn-outline-danger">Delete Shelf</a>
                    </div>
                    </div>
            <br>
            {% endfor %}
        </div>
        <div class="col-6">
            <h1> Group Shelves</h1>
            {% for group in groupDict %}
            <h2> {{ group }}</h2>
            <div class="row justify-content-center">
                <form action="/group/createShelf/" method="post" class="form-inline">
                    {% for field in groupForm %}
                    {% csrf_token %}
                    <div class="input-group">

                        <p style="margin-right:10px;"> <b>
                                {{ field.label_tag}}</p>
                        </b>
                        <p>{{field}}</p>

                        {% endfor %}
                        <input type="hidden" name="group" value="{{group.id}}">
                        <div style="margin-left: 5px;">
                            <button type="submit" class="btn btn-outline-info btn-sm"><i class="fa fa-plus-square">
                                    Add</i></button>
                        </div>
                    </div>
                    <div style="white-space: nowrap;">{{ form.name.errors }}</div>
                </form>

            </div>
            <div class="padding:5px;">

                {% for shelf in group.groupshelf_set.all %}
                <div class="card text-center border-dark">
                    <div class="card-body">
                        <div class="row">
                            <h1 class="col-10 card-title">{{shelf.name}}</h1>
                            <h3 class="col-2 card-text">{{shelf.book.count}}</h3>
                        </div>
                    </div>
                        <div class="card-footer">
                            <a href="/group/shelf/{{shelf.id}}" class="btn btn-outline-info">View Shelf</a>
                            <a href="/group/removeShelf/{{shelf.id}}/{{group.id}}" class="btn btn-outline-danger  ">Delete Shelf</a>
                        </div>
                </div>
                <br>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

</div>




{% endblock %}