<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}goodreads{% endblock %}</title>


    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'books/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
            h1 {
                color: #000000;
                font-family: 'Lobster';
            }
            .box{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;  
                border-bottom-left-radius: 5px;
                border: 1px solid grey;
                padding-top: 10px;
                
            }
            .box:hover{
                background-color: gray;
            }
    </style>
</head>
<body style ="background: url('/media/stack-of-books-vintage-books-book-books.jpg'); background-repeat: no-repeate; ">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/user/account">GoodReads</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
          <ul class="nav navbar-nav">
              <li class="{% block authors_active %}{% endblock %}"><a href="/authors/"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Author</a></li>
              <li class="{% block books_active %}{% endblock %}"><a href="/books/"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Book</a></li>
           </ul>
          <ul class = "nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              {% if user.userprofile.user_pp %}
              <li><img src = {% block image %}

                          "{{ user.userprofile.user_pp.url }}" width="95"

              {% endblock%}>
              </li>
              {% endif %}
              <li><a href="/user/account">Profile</a></li>
              <li ><a href="/user/logout">Logout</a></li>
               {% else %}
              <li><a href="/user/register">Register</a></li>
              <li><a href="/user/login">Login</a></li>
              {% endif %}
          </ul>
          <form id = "search"class="navbar-form navbar-left" role="search" method="get" action="/books/search/">
              <div class="form-group">
                  <input type="text" id="search_input" class="form-control" name="in">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
          </form>


        </div>

    </div>
</nav>
{% block content %}
{% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
