{% extends 'base.html' %}
{% block content %}
<div class="container">

	<h1>{{group}} Chat</h1>
	<br>
	<div class='rounded bg-white' id="chat" style="max-height:500px;overflow-y: auto;">Loading..</div>
	<br>
	<div class="row justify-content-center ">
		<form class="form-inline" action="/group/{{group.id}}/new_msg/" method="POST">
			{% csrf_token %}
			<input class="form-control" type="text" name="content" placeholder="Type a message..." />
			<button id='submit' class="btn btn-primary" type="submit" style="margin: 5px;">Send</button>
		</form>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function () {
	scrollToBottom(),
		viewMsg(),
			setInterval(viewMsg, 5000);
	});
	function scrollToBottom()
	{
		$("#chat").stop().animate({ scrollTop: 2000 });
	};

	function viewMsg() {
		var gid;
		gid = "{{ group.id }}";

		$.ajax({
			type: 'POST',
			url: "{% url 'get_messages' %}",
			data: {
				'gid': gid
			},
			success: function (data) {
				if (data.status == 'true') {
					var mess;
					mess = "";
					data['chat'].forEach(function (message, index) {
						{
							mess += "<div class='row' style='margin:4px;'>"
							if (message['sender'] == '{{ user.username }}')
							{
								mess += "<div></div><div class='ml-auto' style='text-align:right'><div class='bg-info text-light rounded p-3'>"
							}
							else
							{
								mess += "<div class='pr-5'></div><div class='mr-auto'><div class='p-3 bg-dark text-light'>"
							}
							mess += message['message_text'] + "</div>"
							mess +="<div class='text-muted small'>" + message['time'] + "<br>" + message['sender']   + "</div>"
							mess += "</div>"
							mess += "</div>"

						}
					});
					document.getElementById('chat').innerHTML = mess
				}
			},
			complete: function(data) {
			}

		});

	}

</script>
{% endblock %}