<body style="background-image: url('/media/3.jpeg') ; background-size:cover; ">
    
    {% extends "base.html" %}
    {% load poll_extras %}
    {% block content %}
    
            <div style="margin:0 auto; text-align: center;">
                <div style="margin:0 auto; text-align: center;">
                            <br>
                    <div>
                        
                    <div class ="left-element" style="background-color:#e1e1d0;left:0; height:90%;width:550px;margin:0 auto;padding-bottom: 10px;">
                            <!--<a href="/books">Browse all books </a>-->
                            
                            <div class="scrollable" style="max-height: 50%;">
                                <div class="class1" style="width:100%;height:80px">
                                <form action="/group/createShelf/" method="post" style="color:rgb(17, 160, 226);margin-left:60px;margin-top:10px;" class="col-md-4">
                                    {% for field in form %}
                                    {% csrf_token %}
                                    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                        
                                    <h4 style="white-space: nowrap;margin-left: 200px;">{{ field.label_tag}}</h4>&nbsp;&nbsp;&nbsp;&nbsp;<p style="color:rgb(24, 1, 1);">{{field}}</p>
                                    
                                    {% endfor %}&nbsp;&nbsp;&nbsp;
                                    <input type="hidden" name="group" value="{{group.id}}">
                                    <div style="padding:0;">
                                    <button type="submit" style="white-space: nowrap;background-color:rgb(245, 231, 231);color:rgb(39, 5, 192);width:200px;height:40px;"><i class="fa fa-plus-square"> New BookShelf</i></button>
                                </div>
                                </div>
                                <div style="white-space: nowrap;">{{ form.name.errors }}</div>
                                </form>
                                
                                </div>
                            </div>
                        
                            <a href="/group/shelves/{{group.id}}"><div class="class1" style="width:100%;height:50px; text-align: center;"><h1 style= "font-size: 30px; color: #2b5b81;">{{ group.group_name }}'s' Bookshelves</h1></div></a>
                        <div class="scrollable" style="max-height:300px;">
                            {% for shelf in shelves %}
                            <a href="{% url 'groupShelf' sid=shelf.id %}"><div class="class1" style="width:100%;height:50px;text-align: center;">
                                <h3 style="padding:0;">{{ shelf.name }}</h3>
                            </div>
                            </a>
                            {% endfor %}
                        </div>

                    </div>
                    
                    <div>
                        {% for members in groupMembers %}
                        <ul>
                            <li>
                                {{members.username}}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                    
                    {% if join %}
                    <div>
                        <form action="/group/join/{{group.id}}/" method="post">
                            {% csrf_token %}
                            <input type="submit" value="join group" />                           
                        </form>
                    </div>                    
                    {% endif %}
                    {% if myGroups or allGroups %}
                    <div class="right-element">
                        <div class="scrollable" style="max-height: 50%;">
                        <div class="class1" style="height:50px;">
                            <h3>Your groups</h3>
                        </div>
                        
                            {% for group in myGroups %}
                            <ul class="class1" style="width:100%;list-style-type:none;padding-left: 10px;height:50px;padding-top: 10px;">
                                <a href="/group/{{ group.id }}/">
                                    
                                    <li>
                                        {% if group.group_pic %}
                                    <img src="{{ group.group_pic.url }}" height="30" width="30">
                                    {% else %}
                                    <img src="media/default.jpg" height="30" width="30">
                                    {% endif %}{{ group.group_name }}
                                    </li>
                                </a>
                            </ul>
                            {% endfor %}
                        
                        </div>
                    </br>
                        <div class="scrollable" style="max-height: 50%;">
                            <div class="class1" style="height:50px;">
                                <h3>All other groups</h3>
                            </div>
                            
                                {% for group in allGroups %}
                                <ul class="class1" style="width:100%;list-style-type:none;padding-left: 10px;height:50px;padding-top: 10px;">
                                    <a href="/group/{{ group.id }}">
                                       
                                        <li>
                                            {% if group.group_pic %}
                                            <img src="{{ group.group_pic.url }}"  height="30" width="30">
                                            {% else %}
                                            <img src="media/default.jpg" height="30" width="30">
                                            {% endif %}
                                            {{ group.group_name }}
                                        </li>
                                    </a>
                                </ul>
                                {% endfor %}
                            
                        </div>
                    </div>
                    {% endif %}
                    </div>

                    </div></div>
                    
                    
    
    
    {% endblock %}
