{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-3">
            <h1>
                {{ group.group_name }}
            </h1>
            <div class="row" style="min-height: 120px;">
                {% if group.group_pic %}
                <img src="{{ group.group_pic.url }}" style="width:95%;">
                {% else %}
                <img src="{% static 'UserGroups/group.png' %}" style="width:75%;">
                {% endif %}
            </div>
            <br>
            {% if join %}
            <div>
                <form action="/group/join/{{group.id}}/" method="post">
                    {% csrf_token %}
                    <input class="btn btn-outline-success " type="submit" value="Join group" />
                </form>
            </div>
            {% else %}
            <div>
                <form action="/group/leave/{{group.id}}/" method="post">
                    {% csrf_token %}
                    <input class="btn btn-outline-danger" type="submit" value="Leave group" />
                </form>
            </div>
            <br>
            <div>
                <a href="/group/chat/{{group.id}}/">
                    <button class="btn btn-outline-info" type="submit" value="Chat">Chat</button>
                </a>
            </div>
            {% endif %}
            <br>

            <div class="row">
                <h3>Group Members</h3>
            </div>
            <div>
                {% for members in groupMembers %}
                <ul>
                    <li>
                        {{members.username}}
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div class="row" style="padding:5px;">
                <h2> {{group}}'s Bookshelves</h2>
            </div>
            <br>
                <div class="row justify-content-center">
                        <form action="/group/createShelf/" method="post"
                             class="form-inline">
                            {% for field in form %}
                            {% csrf_token %}
                            <div class="input-group">

                                <p style="margin-right:10px;"> <b>
                                        {{ field.label_tag}}</p>
                                </b>
                                <p>{{field}}</p>

                                {% endfor %}
                                <input type="hidden" name="group" value="{{group.id}}">
                                <div style="margin-left: 5px;">
                                    <button type="submit" class="btn btn-outline-info btn-sm"><i class="fa fa-plus-square">
                                            Add</i></button>
                                </div>
                            </div>
                            <div style="white-space: nowrap;">{{ form.name.errors }}</div>
                        </form>

                    </div>
            <div class="bg-white scrollable rounded" style="max-height:300px;">
                <div class="scrollable" style="max-height:300px;">
                    {% for shelf in shelves %}
                    <a href="{% url 'groupShelf' sid=shelf.id %}">
                        <div class="border" style="text-align: center;border-width:3px; padding:10px">
                            <h3 style="padding:0;">{{ shelf.name }}</h3>
                        </div>
                    </a>
                    {% endfor %}
                </div>

            </div>

        </div>
        <div class="col-3">
            <div>





                {% if myGroups or allGroups %}
                <div class="right-element">
                    <div class="scrollable" style="max-height: 50%;">
                        <div class="class1" style="height:50px;">
                            <h3>Your groups</h3>
                        </div>

                        {% for group in myGroups %}
                        <ul class="class1"
                            style="width:100%;list-style-type:none;padding-left: 10px;height:50px;padding-top: 10px;">
                            <a href="/group/{{ group.id }}/">

                                <li>
                                    {% if group.group_pic %}
                                    <img src="{{ group.group_pic.url }}" height="30" width="30">
                                    {% else %}
                                    <img src="{% static 'UserGroups/group.png' %}" height="30" width="30">
                                    {% endif %}{{ group.group_name }}
                                </li>
                            </a>
                        </ul>
                        {% endfor %}

                    </div>
                    </br>
                    <div class="scrollable" style="max-height: 50%;">
                        <div class="class1" style="height:50px;">
                            <h3>All other groups</h3>
                        </div>

                        {% for group in allGroups %}
                        <ul class="class1"
                            style="width:100%;list-style-type:none;padding-left: 10px;height:50px;padding-top: 10px;">
                            <a href="/group/{{ group.id }}">

                                <li>
                                    {% if group.group_pic %}
                                    <img src="{{ group.group_pic.url }}" height="30" width="30">
                                    {% else %}
                                    <img src="{% static 'UserGroups/group.png' %}" height="30" width="30">
                                    {% endif %}
                                    {{ group.group_name }}
                                </li>
                            </a>
                        </ul>
                        {% endfor %}

                    </div>
                </div>
                {% endif %}
            </div>

            {% endblock %}